/* General Styles */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font: normal 16px sans-serif;
	color: #000;
	background-color: #fff;
}

ul, nav {
	list-style: none;
}

a {
	text-decoration: none;
	opacity: 0.75;
	color: #000;
}

a:hover {
	opacity: 1;
}

section	{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 80px;
}

header {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 100px 15px;
	animation: 1s fadein 0.5s forwards;
	opacity: 0;
	color: #000;
	background-color: #33FFA9;
	z-index: 2;
}

@keyframes fadein {
	100% {
		opacity: 1;
	}
}

header h2 {
	font-family: "Orbitron", sans-serif;
}

header nav {
	display: flex;
	margin-right: -15px;
}

header nav li {
	margin: 0 15px;
}

